h1{
    font-size: 2.5 rem;
    font-family: "Arsenal SC", sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar{
    padding: 2rem;
    background-color: white;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.hero{
    background-color: white;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}

.hero-imagen-perfil{
    width: 250px;
    height: 200px;
    margin: gray;
}

.sobre-mi {
    height: 500px;
    padding: 10px;
}

.seccion-oscura {
    color: white;
    background-color: black;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0px;
}

.seccion-texto {
    font-size: 1.2rem;

}

.experiencia {
    padding: 40px 40px 60px 40px;
}

.seccion-clara {
    color: black;
    background-color: white;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencia i {
    font-size: 2.5rem;
    color: blueviolet;
    background-color: pink;
    padding: 8px 18px;
    border-radius: 50%;
}

.experiencia .columna:hover {
    color: white;
    background-color: darkgray;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

.proyectos-recientes{
    padding: 40px;
}

.texto-negro {
    color: black;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.proyecto{
    position: relative;
}

.proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.proyecto:hover img{
    opacity: 0.2;
}

.proyecto:hover .overlay{
    opacity: 1;
}

.overlay .iconos-contenedor{
    display: flex;
}

.overlay i {
    color: purple;
    font-size: 60px;
    margin: 10px;
}

/* Medias Queries Adaptativas */
@media screen and (max-width: 767px){
    .navbar-brand{
    display: none;
    }
}

@media screen and (min-width: 700px) {
    .hero-inferior-imagen{
        max-width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }
}